/* Global style */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
body,html {width: 100%;height: 100%; }
body {font-family: 'Open Sans', sans-serif;}
a {color: #d33497;-webkit-transition: all 0.2s;-moz-transition: all 0.2s;transition: all 0.2s; }
a:hover {color: #d33497; }
h1,h2,h3,h4,h5,h6 {font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }
.bg-primary {background-color: #fff !important; }
.bg-dark {background-color: #4d1965 !important; }
.text-faded {color: rgba(255, 255, 255, 0.7); }
section {padding: 6rem 0; }
.section-heading {margin-top: 0; }
::-moz-selection {color: #fff;background: #212529;text-shadow: none; }
::selection {color: #fff;background: #212529;text-shadow: none; }
img::selection {color: #fff;background: transparent; }
img::-moz-selection {color: #fff;background: transparent; }
.text-primary {color: #d33497 !important; }
.btn {font-weight: 700;text-transform: uppercase;border: none;border-radius: 300px;font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }
.btn-xl {padding: 1rem 2rem; }
a:hover{text-decoration: none}
.btn-primary {border-color: #af237c;background: #af237c;background: -webkit-linear-gradient( bottom right,#c449a0,#af237c);background: -o-linear-gradient( bottom right,#c449a0,#af237c);background: -moz-linear-gradient( bottom right,#c449a0,#af237c);background: linear-gradient(to bottom right,#c449a0,#af237c);border-radius: 0.2rem;text-transform: unset;font-weight: 600;}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {color: #fff;background-color: #af237c !important; }
.btn-primary:active, .btn-primary:focus, .go-to-booking a:active,.go-to-booking a:focus {box-shadow: 0 0 0 0.2rem rgba(180, 44, 133, 0.5) !important; }
.btn.focus, .btn:focus {outline: 0;box-shadow: none;}
button:focus {border: none;outline: none;}
.no-padding{padding: 0 !important}
.no-margin{margin: 0 !important}
.text-dark{color: #333}
.font-bold {font-weight: 700;}
.circle{border-radius: 50% 50%;}
.top-heading {position: relative;margin-bottom: 5rem;}
.top-heading:after {content: "";position: absolute;width: 180px;height: 8px;background: #333;opacity: 0.65;margin-top: 0.4rem;}
.top-heading h2 {color: #333;font-size: 2rem;}
.color-white{color: white !important}
.color-white h2{color: white !important}
.color-white.top-heading:after{background: white !important}
textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="time"]:focus,input[type="week"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="color"]:focus,.uneditable-input:focus {   box-shadow: none;outline: 0 none;}
/*End global style*/
/*Strat Header and navbar style*/
#mainNav {border-bottom: 1px solid rgba(33, 37, 41, 0.1);background-color: #fff;font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;-webkit-transition: all 0.2s;-moz-transition: all 0.2s;transition: all 0.2s; }
#mainNav .navbar-nav > li.nav-item > a.nav-link, #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {font-size: .9rem;color: #212529; }
#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {color: #d33497; }
#mainNav .navbar-nav > li.nav-item > a.nav-link.active, #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {color: #d33497 !important;background-color: transparent; }
#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover, #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {background-color: transparent; }
#mainNav .navbar-brand img{display: block;height: 24px}
header.masthead {padding-top: 10rem;padding-bottom: calc(15rem - 56px);background-image: url("../img/header.jpg");background-position: center center;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;position: relative }
header.masthead h1 {font-size: 2rem; color: #333333; }
header.masthead p {font-weight: 300; }
.nav-icon {font-size: 1.2em;padding: 0 0.5rem;}
.btn-dropdown {background: transparent;color: rgba(255, 255, 255, 0.85);font-weight: 400;font-size: .9rem;cursor: pointer;padding: 0.5rem 1rem;}
.emirates-logo {max-width: 250px;position: absolute;bottom: 2rem;}
.emirates-logo img{display: block;max-height: 100%;width: 100%;}
.go-to-booking a {width: 50px;height: 50px;background: #b32a83;line-height: 50px;text-align: center;font-size: 1em;border-radius: 50% 50%;position: absolute;bottom: -25px;color: #fff;right: 2rem;}
/*End Header and navbar style*/
/*Start Carousal Style */
#carousel {position: relative;min-height: 550px;overflow: hidden;}
.carousel-section{position: relative;}
#carousel .carouselItem {position: absolute;transition: transform 1s, left 1s, top 1s, opacity 1s, z-index 0s, width 1s, height 1s;-webkit-transition: transform 1s, left 1s, top 1s, opacity 1s, z-index 0s, width 1s, height 1s;opacity: 1;overflow: hidden;box-shadow: 0 1px 23px 0 rgba(0, 0, 0, 0.3);}
.country-title {position: absolute;bottom: 20%;left: 1rem;color: #fff;}
.city-name, .country-name, .starting-price {text-shadow: 1px 1px 3px #252525d9;}
.country-name {text-transform: uppercase;font-weight: 200;}
.starting-price {position: absolute;bottom: 1.5rem;left: 1rem;color: #fff;font-size: .826rem;}
.go-to-country {position: absolute;bottom: 2rem;height: 50px;width: 50px;background: #d33497;line-height: 50px;text-align: center;font-size: 1.4rem;color: #fff;right: 1rem;}
.go-to-country:hover{background: #fff;color: #d33497;}
#carousel div img {width: auto;transition: width 1s, height 1s;}
#carousel div.hideLeft {left: 0%;opacity: 0;}
#carousel div.hideLeft img {width: 0;}
#carousel div.hideRight {left: 100%;opacity: 0;}
#carousel div.hideRight img {width: 0;}
#carousel div.prev {z-index: 5;left: 2%;top: 10%;overflow: hidden;width: 270px;height: 420px;}
#carousel div.prev img {width: auto;height: 420px;}
#carousel div.prevLeftSecond {z-index: 4;left: 15%;opacity: 0.7;}
#carousel div.prevLeftSecond img {width: 200px;}
#carousel div.selected {z-index: 10;left: 20%;top: 0;width: 330px;height: 545px;overflow: hidden;}
#carousel div.selected img {width: auto;height: 545px;}
#carousel div.next {z-index: 5;left: 45%;top: 10%;opacity: 0.8;width: 270px;height: 420px;overflow: hidden;}
#carousel div.next img {width: auto;height: 420px;}
#carousel div.nextRightSecond {z-index: 4;left: 62%;top: 14%;opacity: 0.6;width: 270px;height: 370px;overflow: hidden;}
#carousel div.nextRightSecond img {width: auto;height: 370px;}
#carousel div.nextRightThird{z-index: 1;left: 75%;top: 18%;opacity: 0.5;width: 270px;height: 330px;overflow: hidden;}
#carousel div.nextRightThird img{width: auto;height: 330px;}
.buttons {position: absolute;top: calc(50% - 25px);width: 100%;}
#prev {margin-left: -1.5rem;float: left;position: relative;}
#next {margin-right: -2.5rem;float: right;}
.carousel-controller {border: none;font-size: 2rem;color: #d8d8d8;background: transparent;cursor: pointer;}
/*End Carousel Style*/
/*Start Booking Form*/
.nav-tabs li a {padding: 0 10px;font-size: 1.2rem;color: #751b53;border-bottom: 5px solid transparent;}
.nav-tabs li a.active {border-bottom-color: #751b53;}
.nav-tabs {padding-bottom: 4px;margin: 3rem 0;}
#search-for-flight-hotel{background-image: url(../img/module-bg.png);background-position: center;background-repeat: no-repeat;background-size: cover;position: relative;}
#search-for-flight-hotel:after {content: "";width: 100%;min-height: 25rem;position: absolute;z-index: 16;bottom: -15rem;background: linear-gradient(transparent, #0076c4, #0076c4, transparent);}
.booking-benefits {padding: 0;position: relative;top: 1rem;overflow: hidden;}
.booking-benefits .top-heading{z-index: 999;}
.benefits{background-position: center;background-repeat: no-repeat;background-size: cover;min-height: 350px;z-index: 0;position: relative;top: -5rem;}
.benefit-one{background-image: url(../img/steps/fun-things-1.jpg);}
.benefit-two{background-image: url(../img/steps/fun-things-2.jpg);}
.benefit-three{background-image: url(../img/steps/fun-things-3.jpg);}
.benefits-number {position: absolute;font-size: 8rem;bottom: 0rem;left: 1rem;color: rgba(255, 255, 255, 0.458);font-weight: 900;}
.benefits-title {position: absolute;font-size: 2rem;color: #fff;bottom: 1rem;left: 4rem;line-height: 1.2;font-weight: 600;text-shadow: 1px 1px 1px #00000082;}
section.booking-steps {padding: 2rem 0 6rem;}
.step-title {font-weight: 700;font-size: 1.3rem;position: relative;padding-bottom: 1.5rem;}
.step-title:after {content: "";width: 40%;height: 5px;background: #d43497;position: absolute;bottom: .5rem;left: 0;}
.booking-shadow {min-height: 150px;position: absolute;min-width: 100%;opacity: 0.5;border-radius: 5px;-webkit-filter: blur(50px);filter: blur(50px);background-color: #ffffff;}
.booking-form {background: rgba(0,0,0,.4);position: relative;z-index: 55;border-radius: 5px;font-weight: 200; padding-bottom: 1rem;}
.booking-tabs, .check-group {margin: 1.5rem 0;}
.booking-tabs li a {padding: .7rem 1.5rem;color: #fff;}
.booking-tabs li a.active {background: rgba(255, 255, 255, 0.21);border-radius: 5px;}
.form-check{display: inline-block;}
input[type="checkbox"]{visibility: hidden;position: absolute;}
input[type="checkbox"] + .label-text:before{content: "\f0c8";font-family: "Font Awesome\ 5 Free";speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;line-height: 1;-webkit-font-smoothing:antialiased;width: 1em;display: inline-block;margin-right: 5px;font-size: 1.5em;position: relative;top: 3px;}
input[type="checkbox"]:checked + .label-text:before{content: "\f14a";color: #fff;animation: effect 250ms ease-in;}
input[type="checkbox"]:disabled + .label-text{color: #aaa;}
input[type="checkbox"]:disabled + .label-text:before{content: "\f0c8";color: #ccc;}
.form-check .label-text {color: #fff;margin-right: 0.5rem;}
@keyframes effect{0%{transform: scale(0);}25%{transform: scale(1.3);}75%{transform: scale(1.4);}100%{transform: scale(1);}}
.input-icon {position: absolute;z-index: 5;font-size: 1rem;color: #999;top: calc(50% - 8px);left: 10px;}
.form-check.inside-input {position: absolute;z-index: 5;right: 1rem;width: 75px;font-size: 0.54rem;font-weight: 600;}
.inside-input .label-text {top: 9px;position: relative;}   
.inside-input input[type="checkbox"] + .label-text:before {top: 12px;float: right;font-size: 2.5em !important;color: #d43497;}
.form-padding {padding: 0 5px 0 0 !important;}
.input-group .form-control {border-color: #f1f1f1;border-radius: 4px !important;min-height: 45px;color: #d53497;font-weight: 200}
.input-with-icon.input-group .form-control {padding-left: 35px;}
.input-group.border-bottom .form-control, .border-bottom .form-control{border-bottom-left-radius: 0 !important;border-bottom-right-radius: 0 !important;}
.input-group.border-top .form-control, .border-top .form-control {border-top-left-radius: 0 !important;border-top-right-radius: 0 !important;}
.input-group.border-left .form-control {border-bottom-left-radius: 0 !important;border-top-left-radius: 0 !important;}
.input-group.border-right .form-control {border-bottom-right-radius: 0 !important;border-top-right-radius: 0 !important;}
.form-control:focus ~ .input-icon{color: #d53497;}
.form-booking-date .form-control {cursor: pointer;background: #fff;}
.date-icon {position: absolute;color: #dc3497;font-size: 1.5rem;z-index: 9;top: 0.7rem;left: 0.5rem;}
.month, .day, .day-number, .add-return {position: absolute;z-index: 9;color: #dc3497;text-transform: uppercase;font-size: 0.8rem;font-weight: 400;}
.month {left: calc(50% - 22px);top: 0.3rem;}
.day-number {top: 1.3rem;left: calc(50% - 6px);font-size: 2rem;font-weight: 600;}
.day {bottom: 0.3rem;left: calc(50% - 20px);}
.return .date-icon {color: #999;font-size: 2.2rem;left: calc(50% - 1.1rem);top: 1.1rem;}
.return .add-return {color: #999;font-size: 0.8rem;left: calc(50% - 2.4rem);bottom: 0.5rem;}
.btn-booking {padding: .575rem .90rem;padding-top: 22px;font-size: 0.9rem;}
.btn-booking i {display: block;margin-bottom: 8px;}
.form-control {color: #b9358d;min-height: 45px;}
/*End Booking form Style*/
.credit-card {position: relative;text-align: right;left: -2rem}
.credit-card:nth-child(0) {z-index: 11;}
.credit-card:nth-child(1) {z-index: 9;}
.credit-card:nth-child(2) {z-index: 8;}
.credit-card:nth-child(3) {z-index: 7;}
.credit-card:not(:first-child){margin-left: -3rem !important;}
.terms-list li {color: #777777;list-style: decimal;padding-left: 1rem;margin: 0.5rem;font-size: 0.9375rem;font-weight: normal;font-style: normal;font-stretch: normal;line-height: 1.6;letter-spacing: -0.5px;}
section.download-app {padding: 0;background-color: rgba(3,75,123,.8);}
.download-app .container{position: relative;}
.download-app-img {position: absolute;right: 0;top: calc(100% - 240px);max-width: 315px;}
.download-app-img img{max-width: 100%;}
.download-app-des {min-height: 180px;}
.download-app-des span {display: block;font-size: 0.875rem;font-weight: 400;margin-bottom: 1rem;}
.app-store-logo {max-height: 45px;}
.download-app-des h3 {font-size: 1.375rem;font-weight: 600;padding-top: 1rem;}
/*Start Footer Style*/
.footer {background-image: url(../img/bg-pattern-footer.png);background-repeat: repeat;min-height: 400px;}
footer {min-height: 400px;background: #1a2980;background: linear-gradient(79deg,#1a2980,#26d0ce);-webkit-background: linear-gradient(79deg,#1a2980,#26d0ce);-mos-background: linear-gradient(79deg,#1a2980,#26d0ce);-o-background: linear-gradient(79deg,#1a2980,#26d0ce);}
.footer-list {padding-top: 2rem !important;}
.footer-logo {max-height: 81px;margin: 0 auto;display: block;}
.footer-title {color: #34c4e8;font-size: 1.3rem;font-weight: 100;position: relative;margin-bottom: 1.5rem;}
.footer-title:after {content: "";position: absolute;width: 10%;height: 1px;background: #fff;bottom: -0.5rem;left: 0;}
.footer-list ul li {list-style: none;font-size: 0.9rem;font-weight: 100;margin: 0.325rem 0;}
.footer-list ul li{color: #fff;}
.copy-right {margin-top: 5rem;text-align: center;}
.copy-right-img {max-width: 90px;display: block;margin: 0 auto;margin-bottom: 0.5rem;}
.copy-right-text {font-size: 0.8rem;}
.footer-icon {font-size: 1.05rem;width: 25px;}
/*End Footer Style*/

@media screen and (-webkit-min-device-pixel-ratio:0){
    .inside-input input[type="checkbox"] + .label-text:before{top:3px}
    select.form-control:not([size]):not([multiple]){ height: calc(2.25rem + 9px);}
    .form-control{-webkit-appearance: none;}
}
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm), screen and(-webkit-min-device-pixel-ratio:0){
    .inside-input input[type="checkbox"] + .label-text:before{top:9px }
}

@media screen and (min-width: 992px) {
    #mainNav {border-color: transparent;background-color: rgba(0, 0, 0, 0.4);padding: 0;min-height: 60px; }
    #mainNav .navbar-brand {padding: 1.1rem 0.8rem 0 0;height: 60px; }
    #mainNav .navbar-nav > li.nav-item > a.nav-link {padding: 0.5rem 1rem; }
    #mainNav .navbar-nav > li.nav-item > a.nav-link, #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {color: rgba(255, 255, 255, 0.85); }
    #mainNav .navbar-nav > li.nav-item > a.nav-link:hover, #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {color: #fff; }
    #mainNav.navbar-shrink {border-bottom: 1px solid rgba(33, 37, 41, 0.1);background-color: rgba(3, 3, 3, 0.8); }
    #mainNav.navbar-shrink .navbar-brand {color: #d33497; }
    #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {color: #d33497; }
    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link, #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {color: #ffffff; }
    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover, #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover, #mainNav.navbar-shrink .btn-dropdown:hover {color: #d33497; } 
    header.masthead {height: 90vh;min-height: 650px;padding-top: 0;padding-bottom: 0; }
    header.masthead h1 {font-size: 2.6rem; }
    .masthead .container {margin-top: 11rem; position: relative}
}

@media screen and (max-width: 1200px) {
    .credit-card-img {max-width: 170%;}
    #next {margin-right: -2rem;}
    .btn-booking {font-size: 0.7rem;}
}

@media screen and (max-width: 992px) {
    #mainNav{background: #333}
    .navbar-light .navbar-brand {float: none;position: relative;left: 50%;-ms-transform: translateX(-50%);transform: translateX(-50%);display: inline-block;padding: 0.9125rem .3125rem;height: 60px;}
    .btn-dropdown{padding: 0}
    .navbar-collapse a.nav-link, .navbar-collapse .dropdown {color: #fff !important;padding: 0.82rem 0.8rem;border-bottom: 1px solid #000;}
    .navbar-light .navbar-toggler-icon {background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");}
    .navbar-light .navbar-toggler {border-color: transparent;}
    .navbar-toggler:focus, .navbar-toggler:hover{outline: none}
    header.masthead {padding-top: 7rem;}
    header.masthead h1 {font-size: 1.5rem;}
    #carousel{left: 2%}
    #carousel div.selected {width: 60%;display: block;left: 0;}   
    #carousel div.next {display: block;}
    #carousel div.nextRightSecond{display: block;}
    html, body {overflow-x: hidden;}
    .download-app-img {top: calc(100% - 186px);max-width: 250px;}
    .booking-form {margin: 0;}
    .btn-booking {padding: .575rem 0.4rem;font-size: 0.7rem;padding-top: 22px;}
    .carousel-section {left: -0.88rem;}
    #next {margin-right: -3rem;}
    .buttons {top: auto;width: auto;left: 50%;transform: translateX(-50%);-webkit-transform: translateX(-50%);bottom: -4rem;}
    .credit-card {text-align: right;opacity: 1 !important;font-size: 0.8rem;left: 0rem;}
    .credit-card:not(:first-child) {margin-left: -2.5rem !important;}
}

@media screen and (min-width: 768px) {
    header.masthead p {font-size: 1.4rem; }
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {font-size: 16px; }
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {font-size: 22px; } 
}

@media screen and (max-width: 767px) {
    html, body {overflow-x: hidden;}
    .top-heading h2{font-size: 1.5rem}
    #carousel{left: 4%}
    #carousel .carouselItem {  display: none !important;}   
    #carousel div.selected {width: 100%;display: block !important;left: 0;}
    #next{margin-right: 0}
    #prev{margin-left: 0}
    .form-booking-date {margin: 0.5rem 0 !important;}
    .input-group.border-right .form-control {border-top-right-radius: 4px !important;border-bottom-right-radius: 0 !important;border-bottom-left-radius: 0 !important;}
    .input-group.border-left .form-control {border-bottom-left-radius: 4px !important;border-top-right-radius: 0 !important;border-top-left-radius: 0 !important;}
    .form-booking-date .no-padding {padding: 0 5px 0 0 !important;}
    .btn-booking {width: 100%;margin-top: 0.5rem;}
    .form-group.form-padding {padding: 0 !important;}
    .booking-form{margin-left: 0}
    .month, .day {left: calc(100% - 80px);}
    .day-number {top: 0;}
    .return .add-return {bottom: 0;top: 0.8rem;}
    .return .date-icon {font-size: 1.2rem;left: calc(50% - 4.1rem);top: 0.8rem;}
    .credit-card {text-align: center;left: 0rem;}
    .credit-card-img {max-width: 100%;}
    .credit-card:not(:first-child) {margin-left: 0rem !important;}
    .download-app-img {position: relative;left: calc(50% - 157.5px);right: auto;margin-top: 2rem;}
    .footer-title:after {left: calc(50% - 5%);}
    .footer-list {text-align: center;}
}
